<div id="cmd">
  <a mat-raised-button routerLink="/timeline/new">Nouveau</a>
</div>
<div>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Catégorie</th>
      <th>Date de création</th>
      <th>Date de mise à jour</th>
      <th>Nombre de cartes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let timeline of timelineList">
      <td>{{ timeline.id }}</td>
      <td>{{ timeline.name }}</td>
      <td>{{ timeline.categorie }}</td>
      <td>{{ timeline.dateCreation | date :'dd/MM/yyyy' }}</td>
      <td>{{ timeline.dateMajour | date : formatDate }}</td>
      <td>{{ timeline.cardList.length }}</td>
      <td><a routerLink="/timeline/{{timeline.id}}">Editer</a></td>
    </tr>
  </tbody>
</table>
</div>